
.heading
{
    font-weight: bold;
    text-align: center;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    margin: 3px;
    margin-bottom: 50px;
    font-size: 175%;
    margin-top: 30px;
}

.box1
{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height:50%;
    width: 28%;
    float: left;
    margin: 4px;
    background-color: grey;
    padding-bottom: 16px;
    padding-left: 10px;
    max-width: 100%;
    margin-right: 2%;
    margin-left: 4%;
    font-size: 16px;
}

.box2
{
    max-width: 100%;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height:50%;
    width: 28%;
    float: left;
    margin: 4px;
    background-color: grey;
    padding-bottom: 16px;
    padding-left: 10px;
    margin-right: 2%;
    margin-left: 1%;
    font-size: 16px;
}

.box3
{
    max-width: 100%;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 4px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    height:50%;
    width: 28%;
    float: left;
    background-color: grey;
    padding-bottom: 16px;
    padding-left: 10px;
    margin-right: 2%;
    margin-left: 1%;
    font-size: 16px;
}

.Chicken
{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    float: right;
    background-color:salmon;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-right:30px;
    padding-left:30px;
    border-top-style: hidden;
    border-right-style: hidden;
    margin-left: 480px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 125%;

}

.Beef
{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    float: right;
    background-color: maroon;
    color: white;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding-right:30px;
    padding-left:30px;
    border-top-style: hidden;
    border-right-style: hidden;
    margin-left: 480px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 125%;
}

.Sushi
{
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    float: right;
    background-color: goldenrod;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-right:30px;
    padding-left:30px;
    border-top-style: hidden;
    border-right-style: hidden;
    margin-left: 480px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    font-size: 125%;
}

@media screen and (max-width: 768px) {
    .box1, .box2, .box3 {
      width: 98%; 
      margin-left: 0px;
      margin-bottom: 16px;
      margin-right: 2px;
    }
    .Sushi, .Beef, .Chicken{
        margin-left: 1000px;

    }
}

@media screen and (min-width: 992px) {
    .box1, .box2, .box3 {
      height: 100%; 
    }
}

@media screen and (min-width: 762px) and (max-width: 991px) {
    .box1, .box2 {
      width: 43%;
    }

    .box3{
        width: 90.8%; 
        margin-left: 35px;
    }
    .Sushi{
        margin-left: 800px;
    }
}
